<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer-script">
    <!-- jQuery -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>
</div>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            © 2018 MAS
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

            <script type="text/javascript"
                    src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

        </footer>
    </div>

</div>
</body>
</html>